
*{
    font-family: 'Oxygen', sans-serif;;
}

.butt{
    margin-right: 1em;
}

.cl{
    padding-left: 1em;
    font-size: 4vh;
}


.create-posts{
    display: flex;
    justify-content: space-between;
}

.text-div{
    width: 60vw;
    display: flex;
    
}

a{
    color: aliceblue;
}

.home-container{
    display: flex;
}

#message-page{
    
    display: flex;
}

#message-div{
    margin-left: 1em;
    width:40vw;
}