
*{
    font-family: 'Oxygen', sans-serif;;
}
 body{

    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(13, 13, 13), rgb(53, 53, 46));

}
/*
.butt{
    margin-right: 1em;
}

.cl{
    padding-left: 1em;
    font-size: 4vh;
}


.create-posts{
    display: flex;
    justify-content: space-between;
}

.text-div{
    width: 60vw;
    display: flex;
    
} */

 .container{
 margin: 0;
 background-image: linear-gradient(to bottom , rgb(13, 13, 13), rgb(16, 62, 10));
 }

 a{
    color: aliceblue;
 }