.createpost {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(48, 48, 3));
    width: 100%;
    margin: none;
    padding: .5em;
    border: none;
    border-radius: 7px;
}

.createpostcontainer {
    position: fixed;
    padding: none;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(48, 48, 3));
    border-style: none;
    border-radius: 7px;

    width: 40%;

}

.itemdes {
    background-image: linear-gradient(to bottom right, rgb(70, 93, 70), rgb(6, 16, 8));
    border-radius: 5px;
    border-style: none;
    color: aliceblue;
    height: 20vh;
    max-height: 20vh;
}

.iteminput {
    border-radius: 5px;
    border-style: none;
    background-image: linear-gradient(to bottom right, rgb(70, 93, 70), rgb(6, 16, 8));
    color: aliceblue;
}

.itemprice {
    border-radius: 5px;
    border-style: none;
    background-image: linear-gradient(to bottom right, rgb(70, 93, 70), rgb(6, 16, 8));
    color: aliceblue;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.submit {
    display: flex;
    margin-right: 1em;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(100, 170, 30));
    border-radius: 7px;
}

@media screen and (max-width : 800px){

    .createpostcontainer {
       margin-top: 1em;
        width: 90vw;
}
}