.create-post {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: none;
    padding: none;
    box-shadow: 0px 1px 10px rgb(48, 47, 47);
    
}

.create-post-container {
    width: 32vw;
    padding: none;
    height: 50vh;
    border-style: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-des {
    background-color: rgb(48, 48, 55);
    border-radius: 5px;
    border-style:none ;
    color: aliceblue;
    height: 20vh;
    max-height: 20vh;
}

.item-input{
    border-radius: 5px;
    border-style: none;
   background-color: rgb(48, 48, 55);
    color: aliceblue;
}

.item-price{
    border-radius: 5px;
    border-style: none;
   background-color: rgb(48, 48, 55);
    color: aliceblue;  
}

button{
    border-radius: 5px;
    background-color: rgb(48, 48, 55);
    color: aliceblue;  
}