#login-container {
    margin-right: 1em;
}

.input1 {
    margin-left: .5em;
    margin-bottom: .5em;
}

.input2 {
    margin-left: .5em;
    margin-bottom: .5em;
}

.button {
    margin-left: .5em;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(100, 170, 30);
}


.login-form {
    width: 30vw;
}

.body{
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(13, 13, 13), rgb(53, 53, 46));
}