.textdiv{
    display: flex;
    justify-content: center;
}
.createpost {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(48, 48, 3));
    width: 30vw;
    margin: none;
    padding: none;
    border: none;
  

}

.createpostcontainer {
    position: fixed;
    padding: none;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(48, 48, 3));
    border-style: none;
    border-radius: 5px;
  

}

.itemdes {
    background-image: linear-gradient(to bottom right, rgb(70, 93, 70), rgb(6, 16, 8));
    border-radius: 5px;
    border-style: none;
    color: aliceblue;
    height: 20vh;
    max-height: 20vh;
}

.iteminput {
    border-radius: 5px;
    border-style: none;
    background-image: linear-gradient(to bottom right, rgb(70, 93, 70), rgb(6, 16, 8));
    color: aliceblue;
}

.itemprice {
    border-radius: 5px;
    border-style: none;
    background-image: linear-gradient(to bottom right, rgb(70, 93, 70), rgb(6, 16, 8));
    color: aliceblue;
}

button {
    border-radius: 5px;
    background-color: rgb(57, 77, 38);
    color: aliceblue;
    border-style: none;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}