form {
    padding: .5em;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(48, 48, 3));
    border:none;
    border-color: rgb(58, 58, 60);
    border-width: 1px;
    border-radius: 5px;

}




.description {
    padding-top: 1em;
    background-color: transparent;
    height: 50%;
    border-style: none;
    color: aliceblue;
    border-style: none;
    border-bottom :1px solid aliceblue;
}

.priceloc {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    background-color:transparent;
    border-style: none;
    color: aliceblue;
    margin-bottom: .5em;
}

.price {
    background-color:transparent;
    display: flex;
    justify-content: flex-end;
    border-style: none;
    color: aliceblue
}

.location {
    background-color:transparent;
    border-style: none;
    color: aliceblue
}

.editform {
    height: 30vh;
    max-height: 30vh;
    margin-left: 1em;
    width: 40vw;
    max-width: 40vw;
}

.subbutton{
    border-style: none;
    width: 100%;
}
.title{
    font-size: larger;
    border: none;
    color: aliceblue;
    background-color: transparent;
    border-bottom :1px solid aliceblue;
    
   
}
.links{
    display: flex;
    justify-content: space-between;
}
