form {
    padding: .5em;
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 24, 25);
    border-style: solid;
    border-color: rgb(58, 58, 60);
    border-width: 1px;
    border-radius: 5px;

}



#title {

    border-style: solid;
    border-color: rgb(58, 58, 60);
    border-width: 1px;
    border-radius: 5px;
    padding-left: .2em;
    font-weight: 200;
    font-size: large;
    background-color: rgb(48, 48, 55);
    color: aliceblue;
}

#description {
    background-color: rgb(23, 24, 25);
    height: 50%;
    border-style: none;
    color: aliceblue;
    border-style: none;
}

#price-loc {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    background-color:rgb(14, 61, 61);
    border-style: none;
    color: aliceblue;
    margin-bottom: .5em;
}

#price {
    background-color:rgb(14, 61, 61);
    border-style: none;
    color: aliceblue
}

#location {
    background-color:rgb(14, 61, 61);
    border-style: none;
    color: aliceblue
}

#edit-form {
    height: 30vh;
    max-height: 30vh;
    margin-left: 1em;
    width: 40vw;
    max-width: 40vw;
}

#sub-button{
    border-style: none;
}