.homecontainer {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
}

.loginsearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 80vw;
}

.page {
    width: 100vw;
}

@media screen and (max-width : 800px){

    .loginsearch{
        width: 100vw;
    }
}