.input1{
    margin-left: .5em;
    margin-bottom: .5em;
}
.input2{
    margin-left: .5em;
    margin-bottom: .5em;
}
.button{
    margin-left: .5em;
    border-style: solid;
    border-width: 1px;
}
 
#sign-up-container{
    margin-right: 1em;
}

.login-button{
    text-decoration: none;
}

#incorrect-password{
    margin-left: .5em;
    color: aliceblue;
}

#login-form{
    width: 30vw;
}