.input1 {
    margin-left: .5em;
    margin-bottom: .5em;
}

.input2 {
    margin-left: .5em;
    margin-bottom: .5em;
}

.loginbutton {
    background-color: rgb(100, 170, 30);
    text-decoration: none;
    border-style: none;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    margin-left: .5em;

}

.incorrectpassword {
    margin-left: .5em;
    color: aliceblue;
}

.loginform {
    padding: .5em;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    color: aliceblue;
    border-radius: 7px;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(100, 170, 30));
    width: 40vw;
    border-style: none;

}



.buttondiv {
    display: flex;
    justify-content: flex-start;
}