.messagetext {
    background-color: transparent;
    width: 38vw;
    color: rgb(255, 255, 255);
    border-style: none;
    margin-bottom: .5em;
}

.message {
    margin-bottom: 1em;

    position: fixed;
}




.messageform {
    display: flex;
    border: none;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(48, 48, 3));
    position: fixed;
    margin-right: 1em;
}

.post {
    color: aliceblue;
    margin-bottom: 1em;
    border-radius: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.priceuser {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .5em;
  
    border-bottom: solid 2px white;
    /* background-image: linear-gradient(to bottom right, rgb(100, 170, 30), rgb(4, 24, 4)); */

}

.submit{
    display: flex;
    margin-right: 1em;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(100, 170, 30));

border-radius: 7px;
}