a {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.othersposts {

    overflow-y: scroll;
    height: 100vw;
    max-height: 100vw;
    width: 58vw;
    padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(48, 48, 3));
    border-width: 1px;
    margin-left: 1em;
    border-radius: 5px;
    color: aliceblue;
}

.otherspost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(100, 170, 30));
    margin-bottom: 1em;
    width: 100%;
    height: 30vh;
}

.otherspost:hover {
    background-image: linear-gradient(to bottom right, rgb(32, 51, 32), rgb(170, 202, 167));
}

.header {

    display: flex;
    justify-content: center;
    width: 100%;
}

.priceuser {
    display: flex;
    justify-content: space-between;

    padding: .5em;
    background-image: linear-gradient(to bottom right, rgb(31, 42, 21), rgb(4, 24, 4));

    margin-left: .5em;
    margin-right: .5em;
    border-radius: 7px;
    align-items: center;
}

.description {
    padding-left: .5em;

    border-radius: 7px;
    margin: .5em;
}

.messagelink {

    margin-right: 1em;
}

.headerdiv {
    display: flex;

}

.searchform {
    background-color: transparent;
    border: none;
    margin-bottom: 1em;
    width: 100%;
}

.searchinput {
    margin-left: 1em;
    border: none;
    width: 90%;

}

.searchbar {
    display: flex;
    align-items: center;
    padding: 8px;
    color: black;
    width: 40%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.time{
    margin-left: 1em;
}