.posts {
    padding-top: 1em;
    background-color: rgb(23, 24, 25);
    overflow-y: scroll;
    border-style: solid;
    border-color: rgb(58, 58, 60);
    border-width: 1px;
    border-radius: 5px;
    padding-left: .5em;
    padding-right: .5em;
    width: 30vw;
    max-width: 30vw;
    height: 100vw;
    max-height: 100vw;
    box-shadow: 0px 1px 10px rgb(86, 85, 85);
}

.post {
    font-weight: lighter;
    color: aqua;
    background-color: rgb(23, 24, 25);
    box-shadow: 0px 1px 10px rgb(15, 15, 15);
    margin-bottom: 1em;
}

.header {
    border-style: solid;
    border-color: rgb(58, 58, 60);
    border-width: 1px;
    border-radius: 5px;
    padding-left: .2em;
    font-weight: 200;
    font-size: large;
    background-color: rgb(48, 48, 55);
    color: aliceblue;
}

.price {
    padding: .2em;
    color: aliceblue;
}

.price-user {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    background-color: rgb(28, 28, 51);
}

.user {
    color: aliceblue;
    font-weight: 600;
    text-decoration: underline;
}

.description {
    color: aliceblue;
    font-weight: lighter;
    font-size: smaller;
    padding: .5em;
}