.profile {
    overflow-y: scroll;
    height: 100vw;
    max-height: 100vw;
    padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(48, 48, 3));
    border: none;
    margin-left: 1em;
    width: 60vw;
    border-radius: 7px;
    color: aliceblue;
}

.header {
    width: 100%;

}

.priceuser {
    display: flex;
    justify-content: space-between;
}


.postdiv {
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(100, 170, 30));
    margin-bottom: 1em;
    border: none;

}

.headerdiv {
    display: flex;
    justify-content: space-between;



}

.messages {
    background-color: rgb(100, 170, 30);
    border-style: none;
}



.description {
    margin-bottom: 1em;
}

.edit {

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.messagesdiv{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.sentLink{
    display: flex;
    justify-content: center;
    margin-right: 1em;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(100, 170, 30));
    width: 10%;
    border-radius: 7px;
}

.inboxLink{
    display: flex;
    margin-right: 1em;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(4, 24, 4), rgb(100, 170, 30));
width: 10%;
border-radius: 7px;
}
