.title {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: rgb(72, 106, 38);
 
    border-style: none;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 1em;
    height: 9vh;
 

}

.lite{
    color: rgb(9, 236, 17);
}

.link{
    margin-left: 1em;
}