.title {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color:rgb(14, 61, 61);
    border-color: rgb(58, 58, 60);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 1em;
    height: 9vh;
    box-shadow: 0px 1px 10px rgb(48, 47, 47);

}

.lite{
    color: rgb(9, 236, 17);
}

.link{
    margin-left: 1em;
}